
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path:"../webfonts";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';
/*
@import "~@fortawesome/fornawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fornawesome-free/scss/solid.scss";
@import "~@fortawesome/fornawesome-free/scss/brands.scss";
*/
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px #b838380a;
}

.router-link-exact-active{
  background-color: #3f51b5;
  color:#fff !important;
}
//class="nav-link router-link-exact-active router-link-active"